// small-panel
.small-panel {
  position: absolute;
  width: 12.5rem;
  height: 10rem;
  top: 6rem;
  right: 2rem;
  border: #ddd 0.1rem solid;
  z-index: 3;
  background: white;
  color: black;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.6rem rgba(0,0,0,.15);
  p {
    line-height: 2.5rem;
  }
  div {
    top: 50%;
  }
}