// list
.content-box {
  border-bottom: 0.1rem solid #dfe1e3;
  //border-left: #5ba4e5 0.2rem solid;
  p {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(102,102,102);
  }
  a{
    display: block;
    padding: 1.5rem;
    color: #242628;
  }
}
.list {
  display: flex;
  flex-grow: 1;
  .article-list {
    flex-basis: 12rem;
    overflow: auto;
  }
}
.page-buttons {
  margin: 1rem;
  .page-button {
    padding: 1rem;
    cursor: pointer;
    &:hover {
      color: #57c5f7;
    }
  }
}

